$primery : #2B2C54;
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color:$primery;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
    color: white;
}




