$primery : #2B2C54;
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color:$primery;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
    color: white;
    font-size: large;
   &:last-child{
       display: flex;
       margin-top: 0;
       flex-direction: column;
       justify-content: space-between;
   }

   strong{
       text-align: center;
   }
}
#results{
    text-align: center;
    white-space: pre-wrap;
    margin-top: 10px;
}




