header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    padding: 10px 40px;
    
    div{
        color: white;
        font-weight: bold;
        padding:5px 0;
        text-align: center;   
        fill: white; 
    }
}
